
html {
/*
  min-height: 100%;
  background-image: url(images/wave.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
*/
  background-color: #7C9082;
}
body {
  display: grid;
  grid-template-areas:
    "header header header header"
    "margin1 nav article margin2"
    "footer footer footer footer";
  grid-template-rows: 40px 1fr 40px;
  grid-template-columns: 1fr 25% auto 1fr;
  grid-gap: 10px;
  height: 100vh;
  margin: 0;
  }
header, footer, article, nav, div {
  padding: 20px;
  background: #EDEEC0;
  color: #A7A284;
}
#margin1, #margin2 {
    background-color:transparent;
}
#pageHeader {
  grid-area: header;

  display: grid;
  grid-template-areas:
    "buttonBrand button1 button2 button3 button4";
  grid-template-columns: 60px 40px 40px 40px 40px;
  justify-content: start;
  align-content:stretch;

}
#pageFooter {
  grid-area: footer;
}
#mainArticle {
  grid-area: article;
  }
#mainNav {
  grid-area: nav;

  display: grid;
  grid-template-areas:
    "portrait content"
    "image-container image-container";
  grid-template-rows: 40% auto;
  grid-template-columns: 40% auto;
  grid-gap: 5px;
  }
.picture {
    width: 500px;
}
ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

nav .div {
  padding: 20px;
  background: #EDEEC0;
  color: #A7A284;
  }

.portrait {
    grid-area: portrait;
}
.portraitImage {
    width: 100%;
}
.content {
    grid-area: content;
}
.image-container {
  grid-area: image-container;

  display: grid;
  grid-template-areas:
    "image1 image2 image3"
    "caption1 caption2 caption3";
  grid-template-rows: 1fr 10px; 
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}
.image1 {
    grid-area: image1;
}
.image2 {
    grid-area: image2;
}
.image3 {
    grid-area: image3;
}
.caption1 {
    grid-area: caption1;
}
.caption2 {
    grid-area: caption2;
}
.caption3 {
    grid-area: caption3;
}
#pageFooter {
    text-align: center;
    justify-content: center;
    align-content: start;
    align-items: start;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: #EDEEC0;
}
a {
    text-decoration: none;
}
header a .active {
    color: #EDEEC0
}
.button .active {
    background-color: #A7A284;
    color: #EDEEC0;
}
/*
@media all and (max-width: 575px) {
body {
    grid-template-areas:
            "header"
            "article"
            "nav"
            "footer";
    grid-template-rows: 80px 1fr 70px 1fr 70px;
    grid-template-columns: 1fr; 
}
}
*/
