.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F0F234;
}
.navbar li {
    float: left;
    border-right: 1px solid #cb9;
}
.navbar li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 10px 40px;
    text-decoration: none;
}
.navbar li a:hover:not(.active) {
    background-color: #309;
}
.active {
    background-color: #4CBE50;
}
